@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    /* background: linear-gradient(#1f212f, #fa2e13); */
    background: #1f212f;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
}

header .logo p {
    margin-left: 20px;
    width: fit-content;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

header ul li a { 
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a.active{
    outline: white solid 2px;
    color: white;
}

header ul li a:hover {
    outline: white solid 2px;
    color: white;
}

.header-background {
    background-color: rgba(0, 0, 0, 0.7);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

@media (max-width: 1050px) {
    header .logo {
        position: fixed;
        /* top: 20px; */
        left: 50%;
        font-size: 1.5em;
        transform: translate(-50%, -50%);
        top: 60px
    }

    header .logo img {
        height: 38px;
    }

    header .logo p {
        width: min-content;
    }

    .header-background {
        background-color: rgba(0, 0, 0, 0.7);
        height: 120px;
    }

    .hamburger-menu {
        z-index: 100;
    }

    .non-hamburger-menu {
        width: 0;
        display: none;
    }
}