.sec {
    position: absolute;
    width: 100%;
    top: 100vh;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #1f212f;
    z-index: 1;
}

.sec .our-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec .our-projects .title {
    margin-top: 150px;
    text-align: center;
    font-size: 56px;
    color: white;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 1px;
}

.sec .our-projects div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    width: 80%;
}

.sec .our-projects div .project-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.sec .our-projects div .project-item img {
    flex: 1;
    border-radius: 40px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sec .our-projects div .project-item .project-description {
    font-weight: 300;
    height: fit-content;
    flex: 4;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    /* overflow-y:scroll;
    overflow-x:visible; */
}


.sec .our-projects div .project-item .project-description p{
    letter-spacing: 1px;
}

.sec .our-projects div .project-item.reverse {
    flex-direction: row-reverse;
}

.sec .our-projects div .project-item.reverse .project-description {
    align-items: flex-end;
}

.sec .our-projects div .project-item.reverse .project-description p {
    text-align: right;
}

#logo-enggal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    min-width: 30%;
    overflow-y: hidden;
    z-index: -2;
    text-align: center;
    color: #f68726;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    /* border-radius: 30px; */
    pointer-events: none;
}

#logo-enggal span {
    font-family: 'montserrat';
    font-weight: 500;
    font-style: italic;
    font-size: 72px;
}

#logo-enggal span span {
    color: white;
}

@media (max-width: 1100px) {
    .sec .our-projects div {
        width: 85%;
    }

    .sec .our-projects div .project-item {
        flex-direction: column;
    }

    .sec .our-projects div .project-item img {
        width: 95%;
        border-radius: 10px;
    }

    .sec .our-projects div .project-item .project-description {
        align-items: center;
    }

    .sec .our-projects div .project-item .project-description p {
        text-align: center;
    }
    
    .sec .our-projects div .project-item .project-description h1 {
        text-align: center;
    }

    .sec .our-projects div .project-item.reverse {
        flex-direction: column;
    }
    
    .sec .our-projects div .project-item.reverse .project-description {
        align-items: center;
    }
    
    .sec .our-projects div .project-item.reverse .project-description p {
        text-align: center;
    }

    #logo-enggal {
        padding: 20px
    }

    #logo-enggal span {
        font-size: 48px;
    }
}