@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#1f2f21, #fa2e13);
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #8c8c8c;
    border-radius: 20px;
}

header ul li a.active,
header ul li a:hover {
    outline: white solid 2px;
    color: white;
}

header ul li a:hover {
    outline-style: dashed;
}

img {
    pointer-events: none;
}

#logo-enggal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

#gunung {
    position: absolute;
    top: 45vh;
    width: 100%;
    overflow-x: hidden;
    z-index: 2;
}

#bianglala {
    position: absolute;
    top: 30vh;
    left: 8%;
    width: 28vw;
    height: auto;
    z-index: 1;
}

#dino {
    position: absolute;
    top: 30vh;
    right: 0%;
    width: 30vw;
    height: auto;
    z-index: 1;
}